@page
@model RentalRazorPages.Pages.MarkaPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete Marka?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Markat[0].MarkaId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
