@page
@model RentalRazorPages.Pages.ModeliPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete Modelin ?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Modeli[0].ModeliId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
